@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: "Poppins";
  transition: all 0.3s linear;
}

html {
  font-size: 63%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

section {
  padding: 2rem 9%;
}

.btn {
  background-color: #1617DB;
  color: #fff;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #01010D;
  color: #fff;
}

#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

header {
  background-image: url("../images/header-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 7rem;
}
header .navbar-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  width: 100%;
}
header .navbar-section .logo {
  font-size: 2rem;
  color: #01010D;
  font-weight: bolder;
}
header .navbar-section .navbar {
  display: flex;
  align-items: center;
}
header .navbar-section .navbar a {
  font-size: 1.7rem;
  color: #01010D;
  margin: 0 3rem;
  position: relative;
}
header .navbar-section .navbar .btn {
  margin-left: 2rem;
}
header .navbar-section .navbar a:after {
  content: "";
  position: absolute;
  height: 0.2rem;
  width: 0;
  top: 3rem;
  left: 0;
  background-color: #1617DB;
  color: #1617DB;
  transition: all 0.3s linear;
}
header .navbar-section .navbar a:hover:after {
  width: 100%;
}
header .navbar-section .navbar a:hover {
  color: #1617DB;
}
header .header-section__home {
  padding-top: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
header .header-section__home .content {
  flex: 1 1 30rem;
}
header .header-section__home .content span {
  font-size: 1.5rem;
  color: #1617DB;
  text-transform: uppercase;
  letter-spacing: 1px;
}
header .header-section__home .content h1 {
  font-size: 6rem;
  line-height: 1;
  padding: 2rem 0;
}
header .header-section__home .content p {
  font-size: 1.5rem;
  text-transform: none;
}
header .header-section__home .content .btn {
  margin-top: 2rem;
}
header .header-section__home .content .btn2 {
  border: 0.1rem solid #6565EC;
  padding: 0.9rem 2rem;
  border-radius: 0.5rem;
  color: #6565EC;
  margin-left: 2rem;
  cursor: pointer;
}
header .header-section__home .content .btn2:hover {
  background-color: #1617DB;
  color: #fff;
}
header .header-section__home .image {
  flex: 1 1 50rem;
}
header .header-section__home .image img {
  width: 100%;
}

main .features {
  padding-top: 4rem;
}
main .features .heading {
  font-size: 4rem;
  text-align: center;
}
main .features p {
  font-size: 1.5rem;
  text-transform: none;
  text-align: center;
  padding: 0.5rem 35rem;
}
main .features .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .features .flex .content .box {
  text-align: center;
  margin: 6rem 0;
}
main .features .flex .content .box .img-box {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  margin-left: 2.5rem;
  border: 1px solid #DFF3EE;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .features .flex .content .box h3 {
  padding: 1rem 0 0.5rem;
  font-size: 1.7rem;
}
main .features .flex .content .box span {
  font-size: 1.2rem;
  text-transform: none;
}
main .features .flex .image img {
  width: 100%;
}
main .product a {
  font-size: 1.6rem;
  color: #1617DB;
  font-weight: bolder;
}
main .product a i {
  font-size: 1.7rem;
}
main .product .heading {
  font-size: 4rem;
  padding: 1rem 0;
}
main .product p {
  font-size: 1.5rem;
  text-transform: none;
  width: 40%;
  padding-bottom: 3rem;
}
main .product .images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}
main .watch_video {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
  gap: 2rem;
  flex-wrap: wrap;
}
main .watch_video .image {
  flex: 1 1 30rem;
}
main .watch_video .image img {
  width: 100%;
}
main .watch_video .content {
  flex: 1 1 30rem;
}
main .watch_video .content h1 {
  font-size: 3.8rem;
  line-height: 1;
  padding-right: 10rem;
  text-transform: none;
}
main .watch_video .content p {
  font-size: 1.7rem;
  text-transform: none;
  padding: 2rem 0 5rem;
}
main .watch_video .content a {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: bold;
}
main .watch_video .content i {
  width: 3rem;
  height: 3rem;
  background-color: #CDCDCD;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

footer {
  background-color: #F7F7F7;
  margin-top: 10rem;
  padding: 4rem 0;
}
footer .testimonals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
footer .testimonals .box {
  margin-top: 3rem;
}
footer .testimonals .box span {
  font-size: 1.5rem;
  text-transform: none;
  padding-right: 5rem;
  display: block;
}
footer .testimonals .box .share {
  display: flex;
  gap: 2rem;
}
footer .testimonals .box h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
footer .testimonals .box a {
  display: block;
  font-size: 1.6rem;
  margin: 1.5rem 0;
  color: #01010D;
}
footer .testimonals .box a:hover {
  color: #1617DB;
  scale: 1.05;
}
footer .testimonals .box input {
  padding: 0.5rem 2rem;
}

@media (max-width: 990px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 2rem 3rem;
  }
  header .header-section__home .image {
    flex: 1 1 30rem;
  }
  main .features p {
    padding: 0.5rem 15rem;
  }
  main .features .flex {
    flex-direction: column;
  }
  main .features .flex .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main .features .flex .content .box {
    margin: 6rem;
  }
  main .features .flex .content .box .img-box {
    margin-left: 2rem;
  }
  main .product a {
    text-align: center;
    display: block;
  }
  main .product .heading {
    text-align: center;
  }
  main .product p {
    width: 100%;
    text-align: center;
  }
  main .product .images img {
    width: 50%;
    height: 70%;
  }
}
@media (max-width: 768px) {
  #menu-icon {
    display: initial;
  }
  header .navbar-section .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    padding: 1rem 2rem;
    display: none;
    background-color: #e4e3e3;
    text-align: center;
  }
  header .navbar-section .navbar a {
    display: block;
    text-align: center;
    padding: 1rem;
    margin: 1.5rem 0;
    background-color: #fff;
  }
  header .navbar-section .navbar .btn {
    margin-left: 0;
    margin-bottom: 2rem;
  }
  header .navbar-section .navbar a:after {
    display: none;
  }
  header .navbar-section .navbar.active {
    display: initial;
  }
  main .features p {
    padding: 0.5rem 7rem;
  }
  main .features .flex .content .box {
    margin: 2rem;
  }
  main .features .flex .content .box .img-box {
    margin-left: 1.5rem;
  }
  main .features .flex .content .box h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  header .header-section__home .content h1 {
    font-size: 3.7rem;
    padding: 1rem 0;
  }
  main .features .heading {
    font-size: 3rem;
  }
  main .features p {
    padding: 0.5rem 3rem;
  }
  main .features .flex .content {
    flex-wrap: wrap;
  }
  main .features .flex .content .box {
    margin: 0 1.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}/*# sourceMappingURL=style.css.map */